@font-face {
  font-family: "Georgia Pro";
  src: url("Georgia_Pro-Regular.woff2") format("woff2");
}
body {
  --grid-color: #3191ae42;

  --local-grid-color: var(--grid-color,rgba(0, 0, 0, .1));
  background-image:
  linear-gradient(
    0deg, transparent 24%, var(--local-grid-color) 25%, var(--local-grid-color) 26%, transparent 27%, transparent 74%, var(--local-grid-color) 75%, var(--local-grid-color) 76%, transparent 77%, transparent
    ),
  linear-gradient(
    90deg, transparent 24%, var(--local-grid-color) 25%, var(--local-grid-color) 26%, transparent 27%, transparent 74%, var(--local-grid-color) 75%, var(--local-grid-color) 76%, transparent 77%, transparent
    );
  background-attachment: fixed;
  background-size: 10mm 10mm;

  /*--font-family: "Georgia Pro",Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;*/
  --font-family: "Helvetica", sans-serif;
}

main {
  font-size: 14px;
  line-height: 1.7;
  background: #fff;
  padding: 1em;
  padding-bottom: 4.5cm;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
  background-image: url("coffee-stain.svg");
  background-size: 7.75cm 7.75cm;
  background-position: bottom -1cm right 2.5cm;
  background-repeat: no-repeat;
  position: relative;
}

@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v10/z7NSdR76eDkaJKZJFkkjuvWxXPq1q6Gjb_0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: initial;
  font-family: 'Reenie Beanie', cursive;
  background: rgb(255,255,178);
  transform: rotate(-1deg);
}
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  background: inherit;
}

h1 { font-size: 3em;   }
h2 { font-size: 2.5em; transform: rotate(1deg); }
h3 { font-size: 2em;   }
h4 { font-size: 1.7em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.4em; }

h1:target, h2:target, h3:target,h4:target, h5:target, h6:target {
  animation: none;
}
.anchor::before { margin-right: 0.25em; }

h1.title {
  font-size: 5em;
  margin: 0.25em 0;
  line-height: 1;
  transform: rotate(0);
  background: transparent;
}

div.sourceCode {
  padding: 0.5em;
}

footer {
  position: fixed;
  bottom: 0.1em; right: 0.25em;
}

div.sourceCode {
  border-radius: 0.25em;
}
pre.sourceCode { position: relative; }
pre::before {
  display:inline-block;
  background:inherit;
  position: fixed;
  background: rgb(255,255,178);
  padding: 0.1em 0.5em;
  min-width: 3em;
  color: #242424;
  /*margin-top: -1em; margin-left: calc(100% - 3em);*/
  /*transform: rotate(30deg);*/
  text-align: center;
}
pre.cpp::before {
  content: "C++";
}

blockquote {
  /*padding: 2em; padding-top: 6px; padding-left: 4em;*/
  padding: 7px 2em 1em 4em;
  border: none;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  background-image: linear-gradient(to right, transparent 0, transparent 3.5em, rgba(255,0,0,0.4) calc(3.5em + 1px) , transparent calc(3.5em + 4px) ), repeating-linear-gradient(to bottom, transparent 0px, transparent 24px, steelblue 25px);
  box-shadow: 0 0 5px #424242;
  margin: 1em auto;
  width: 80%;
  font-weight: 300;
}
blockquote p { margin: 0; }

.content-lightbox img {
  box-shadow: 0px 0px 11px #424242;
}

blockquote strong {
  color: rgba(255,0,0,0.6);
  font-weight: bold;
}

